.condiv-contact {
  background-color: #5C6E58;
  flex: 6;
}

h3 {
  text-align: center;
}

.contact__content {
  p {
    text-align: center;
    padding-left: 50px;
    line-height: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 120px;
    color: #fff;

    @media screen and (min-width: 320px) {
      padding-left: 10px;
      line-height: 27px;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 60px;

    }

    .subtopic {
      font-size: 25px;

      @media screen and (min-width:320px) {
        font-size: 15px;

      }
    }


  }
}