.condiv-about {
  background-color: #5C6E58;
  flex: 6;
}

.about__content {

  .subtopic {
    font-size: 22px;
    text-align: center;
    padding: 7px;
  }

  // @media screen and (max-width: 480px) {
  //   .subtopic {
  //     padding-left: 10px;
  //     margin: 0;
  //   }
  // }

  p {

    display: inline-block;
    padding: 7px;
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff
  }

  // @media screen and (max-width: 1024px) {
  //   p {
  //     padding: 0px 100px 0px 50px;

  //   }
  // }
  @media screen and (max-width: 1024px) {
    p {
      padding: 4px 60px 7px 60px;

    }
  }

  @media screen and (min-width: 1025px) {
    p {
      padding: 4px 80px 7px 80px;

    }
  }





  // @media screen and (max-width: 480px) {
  //   p {
  //     padding: 0px 10px 0px 17px;

  //   }
  // }

}