.container {
  background-color: rgb(84, 87, 86);
}

.subtopic {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin: 10px 10px 30px 10px !important;
}

p {
  text-align: left;
  padding: 0px 50px 30px 0px;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
p {
  color: #fff;
  margin: 10px;
  font-weight: normal;
  font-size: 25px;

}