.about__content {

  .subtopic {
    font-size: 30px;
    text-align: left;
    display: inline;
  }

  @media screen and (max-width: 480px) {

    .subtopic {
      font-size: 17.5px;
    }
  }

  p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 12.5px;
    }

  }
}