.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 45px;
  color: #8aa899;
}

.social i:hover {
  color: rgb(209, 197, 179);
}