* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
}

h1 {
  color: #8AA899;
  font-family: 'opensans-bold', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}

/*  3. Links  ------------------------------------------------------- */

a:hover,
a:focus {
  color: #5C6E58;
  font-size: 25px;
}

.bgrid-quarters [class*="column"] {
  width: 25%;
}

.bgrid-thirds [class*="column"] {
  width: 33.33333%;
}

[class*="bgrid"] [class*="column"]+[class*="column"]:last-child {
  float: left;
}

@media only screen and (max-width: 900px) {

  /* block grids on small screens */
  .s-bgrid-sixths [class*="column"] {
    width: 16.66667%;
  }

  .s-bgrid-quarters [class*="column"] {
    width: 25%;
  }

  .s-bgrid-thirds [class*="column"] {
    width: 33.33333%;
  }

  .s-bgrid-halves [class*="column"] {
    width: 50%;
  }

  /* block grids left clearing */
  .first {
    clear: none;
  }

  .s-first {
    clear: left;
  }

}

/* mobile wide/smaller tablets
 --------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

  .row {
    width: 460px;
    margin: 0 auto;
    padding: 0;
  }

  .column,
  .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0 30px;
  }

  .row .row {
    width: auto;
    max-width: none;
    margin: 0 -30px;
  }

  [class*="column"]+[class*="column"]:last-child {
    float: none;
  }

  [class*="bgrid"] [class*="column"]+[class*="column"]:last-child {
    float: none;
  }

}

/* mobile narrow
 --------------------------------------------------------------- */
@media only screen and (max-width: 460px) {

  .row {
    width: auto;
  }

}

/* larger screens
 --------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  .wide .row {
    max-width: 1180px;
  }

}